* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url(assets/Norse-Bold.otf);
}