* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: white;
}

@font-face {
    font-family: "Norse Bold";
    src: url(assets/Norse-Bold.otf);
}

.content {
    display: flex;
    min-height: 100vh;
}

.image-section {
    background-image: url(assets/bg.jpg);
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    text-align: center;
    width: 60vw;
}

.image-section > p {
    color: white;
    font-size: 0.8rem;
}

.logo > img {
    height: 125px;
}

.logo {
    color: white;
    font-family: "Norse Bold";
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 13px 0;
    margin-top: 20vh;
}


.text-section {
    background-color: #f9fafb;
}

.text-section > p {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 100px;
    margin-right: 170px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.text-section > p > i {
    font-weight: bold;
}

.form-section {
    background-color: white;
    padding-left: 50px;
    padding-bottom: 32px;
    box-shadow: 0 5px 5px 4px rgb(0 0 0 / 10%);
}

h3 {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 20px;
}

.inputs > div {
    display: flex;
    font-size: xx-small;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 18px;
    margin-bottom: 18px;
}

.inputs label {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
}

.inputs input {
    width: 250px;
    font-size: 1.3rem;
    border: solid #E5E7EB;
    border-radius: 5px;
}

button {
    background-color: #596D48;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.submit {
    padding-left: 50px;
    padding-top: 40px;
}

.submit a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.submit p {
    padding-top: 10px;
}

input:focus {
    outline: none;
    border: solid blue;
}